*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-color:rgb(94, 5, 112);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgba(244, 241, 241, 0.212);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
.bot{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(32, 32, 32);
    border: none;
    color: white;
    margin: 3px;
    border-radius: 30px;
}
.bot2{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(248, 134, 64);
    border: none;
    color: white;
    margin: 3px;
    border-radius: 30px;
}
.bot:hover{
    background-color: black;
}
.bot2:hover{
    background-color: black;
}
#resultado{
    height: 30px;
    width: 220px;
    background-color: rgba(239, 235, 235, 0.934);
    margin: 5px;
    font-size: 25px;
    color:black;
    text-align: right;
    padding: 5px;
    border-radius: 10px;
}